<?xml version="1.0" encoding="UTF-8"?>
<events>
  <event>
    <id>8524911</id>
    <url>http://www.bandsintown.com/event/8524911?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-10-26T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524911/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2397023</id>
      <url>http://www.bandsintown.com/venue/2397023</url>
      <name>Club Sentrum</name>
      <city>Kiev</city>
      <region>13</region>
      <country>Ukraine</country>
      <latitude>50.4333333</latitude>
      <longitude>30.5166667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524917</id>
    <url>http://www.bandsintown.com/event/8524917?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-10-28T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524917/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2037155</id>
      <url>http://www.bandsintown.com/venue/2037155</url>
      <name>Arena Don</name>
      <city>Rostov-Na-Donu</city>
      <region></region>
      <country>Russian Federation</country>
      <latitude>47.2288820</latitude>
      <longitude>39.7173610</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524920</id>
    <url>http://www.bandsintown.com/event/8524920?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-10-29T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524920/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1566260</id>
      <url>http://www.bandsintown.com/venue/1566260</url>
      <name>Arena Hall</name>
      <city>Krasnodar</city>
      <region>Yuzhniy Federal'niy Okrug</region>
      <country>Russia</country>
      <latitude>45.0296898</latitude>
      <longitude>39.0460587</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8379492</id>
    <url>http://www.bandsintown.com/event/8379492?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-10-31T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8379492/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1103948</id>
      <url>http://www.bandsintown.com/venue/1103948</url>
      <name>Club A2</name>
      <city>Saint Petersburg</city>
      <region>Severo-Zapadniy Federal'niy Okrug</region>
      <country>Russia</country>
      <latitude>59.9248581</latitude>
      <longitude>30.3460197</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8379528</id>
    <url>http://www.bandsintown.com/event/8379528?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-01T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8379528/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2306807</id>
      <url>http://www.bandsintown.com/venue/2306807</url>
      <name>Ray Just Arena</name>
      <city>Moscow</city>
      <region>48</region>
      <country>Russian Federation</country>
      <latitude>55.7522222</latitude>
      <longitude>37.6155556</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524923</id>
    <url>http://www.bandsintown.com/event/8524923?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-02T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524923/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>869011</id>
      <url>http://www.bandsintown.com/venue/869011</url>
      <name>TeleClub</name>
      <city>Yekaterinburg</city>
      <region>71</region>
      <country>Russian Federation</country>
      <latitude>56.8500000</latitude>
      <longitude>60.6000000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524924</id>
    <url>http://www.bandsintown.com/event/8524924?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-04T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524924/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1858961</id>
      <url>http://www.bandsintown.com/venue/1858961</url>
      <name>Milo Hall</name>
      <city>Nizhniy Novgorod</city>
      <region>51</region>
      <country>Russian Federation</country>
      <latitude>56.3333333</latitude>
      <longitude>44.0000000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524927</id>
    <url>http://www.bandsintown.com/event/8524927?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-06T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524927/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>523907</id>
      <url>http://www.bandsintown.com/venue/523907</url>
      <name>MTL Arena</name>
      <city>Samara</city>
      <region>65</region>
      <country>Russian Federation</country>
      <latitude>53.2000000</latitude>
      <longitude>50.1500000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8524928</id>
    <url>http://www.bandsintown.com/event/8524928?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-08T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8524928/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2397028</id>
      <url>http://www.bandsintown.com/venue/2397028</url>
      <name>Small Palace of Sport</name>
      <city>Minsk</city>
      <region>04</region>
      <country>Belarus</country>
      <latitude>53.9000000</latitude>
      <longitude>27.5666667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8346526</id>
    <url>http://www.bandsintown.com/event/8346526?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-09T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8346526/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1079161</id>
      <url>http://www.bandsintown.com/venue/1079161</url>
      <name>Circus</name>
      <city>Helsinki</city>
      <region>Finland</region>
      <country>Finland</country>
      <latitude>60.1711600</latitude>
      <longitude>24.9325800</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-06-09T13:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8173712</id>
    <url>http://www.bandsintown.com/event/8173712?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-11T18:30:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173712/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>325444</id>
      <url>http://www.bandsintown.com/venue/325444</url>
      <name>Klubben</name>
      <city>Stockholm</city>
      <region></region>
      <country>Sweden</country>
      <latitude>59.3009000</latitude>
      <longitude>18.0902000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8173714</id>
    <url>http://www.bandsintown.com/event/8173714?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-12T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173714/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1293949</id>
      <url>http://www.bandsintown.com/venue/1293949</url>
      <name>Rockefeller Music Hall</name>
      <city>Oslo</city>
      <region>Oslo Fylke</region>
      <country>Norway</country>
      <latitude>59.9122810</latitude>
      <longitude>10.7499800</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8173715</id>
    <url>http://www.bandsintown.com/event/8173715?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-13T21:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173715/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>830106</id>
      <url>http://www.bandsintown.com/venue/830106</url>
      <name>Brewhouse</name>
      <city>Goteborg</city>
      <region>28</region>
      <country>Sweden</country>
      <latitude>57.7166667</latitude>
      <longitude>11.9666667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-13T07:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8173717</id>
    <url>http://www.bandsintown.com/event/8173717?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-14T21:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173717/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1428341</id>
      <url>http://www.bandsintown.com/venue/1428341</url>
      <name>Pumpehuset</name>
      <city>Copenhagen</city>
      <region></region>
      <country>Denmark</country>
      <latitude>55.6769580</latitude>
      <longitude>12.5651270</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-16T07:55:00</on_sale_datetime>
  </event>
  <event>
    <id>8173721</id>
    <url>http://www.bandsintown.com/event/8173721?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-15T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173721/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>88244</id>
      <url>http://www.bandsintown.com/venue/88244</url>
      <name>Docks</name>
      <city>Hamburg</city>
      <region>04</region>
      <country>Germany</country>
      <latitude>53.5500000</latitude>
      <longitude>10.0000000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-16T06:55:00</on_sale_datetime>
  </event>
  <event>
    <id>8748268</id>
    <url>http://www.bandsintown.com/event/8748268?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-17T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8748268/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>819922</id>
      <url>http://www.bandsintown.com/venue/819922</url>
      <name>C-Club</name>
      <city>Berlin</city>
      <region>16</region>
      <country>Germany</country>
      <latitude>52.5166667</latitude>
      <longitude>13.4000000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8693696</id>
    <url>http://www.bandsintown.com/event/8693696?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-18T20:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8693696/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2444777</id>
      <url>http://www.bandsintown.com/venue/2444777</url>
      <name>LUCERNA </name>
      <city>Prague</city>
      <region>52</region>
      <country>Czech Republic</country>
      <latitude>50.0833333</latitude>
      <longitude>14.4666667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8173761</id>
    <url>http://www.bandsintown.com/event/8173761?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-19T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173761/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>1356210</id>
      <url>http://www.bandsintown.com/venue/1356210</url>
      <name>Akv&#225;rium Klub</name>
      <city>Budapest</city>
      <region>05</region>
      <country>Hungary</country>
      <latitude>47.4976006</latitude>
      <longitude>19.0528908</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8525057</id>
    <url>http://www.bandsintown.com/event/8525057?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-20T20:30:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8525057/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>429248</id>
      <url>http://www.bandsintown.com/venue/429248</url>
      <name>Muffathalle</name>
      <city>Munich</city>
      <region>Germany</region>
      <country>Germany</country>
      <latitude>48.1329870</latitude>
      <longitude>11.5893140</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime></on_sale_datetime>
  </event>
  <event>
    <id>8173769</id>
    <url>http://www.bandsintown.com/event/8173769?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-22T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173769/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>2074860</id>
      <url>http://www.bandsintown.com/venue/2074860</url>
      <name>Gibson</name>
      <city>Frankfurt</city>
      <region>HE</region>
      <country>Germany</country>
      <latitude>50.1145668</latitude>
      <longitude>8.6829285</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-16T06:55:00</on_sale_datetime>
  </event>
  <event>
    <id>8133545</id>
    <url>http://www.bandsintown.com/event/8133545?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-23T20:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8133545/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>292154</id>
      <url>http://www.bandsintown.com/venue/292154</url>
      <name>Essigfabrik</name>
      <city>Cologne</city>
      <region>07</region>
      <country>Germany</country>
      <latitude>50.9333333</latitude>
      <longitude>6.9500000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-16T06:55:00</on_sale_datetime>
  </event>
  <event>
    <id>8173781</id>
    <url>http://www.bandsintown.com/event/8173781?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-25T19:30:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173781/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>331565</id>
      <url>http://www.bandsintown.com/venue/331565</url>
      <name>La Maronquinerie</name>
      <city>Paris</city>
      <region>A8</region>
      <country>France</country>
      <latitude>48.8666667</latitude>
      <longitude>2.3333333</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-16T06:55:00</on_sale_datetime>
  </event>
  <event>
    <id>8173790</id>
    <url>http://www.bandsintown.com/event/8173790?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-26T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173790/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>188350</id>
      <url>http://www.bandsintown.com/venue/188350</url>
      <name>Melkweg</name>
      <city>Amsterdam</city>
      <region>07</region>
      <country>Netherlands</country>
      <latitude>52.3500000</latitude>
      <longitude>4.9166667</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-06T12:00:00</on_sale_datetime>
  </event>
  <event>
    <id>8173796</id>
    <url>http://www.bandsintown.com/event/8173796?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-28T18:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173796/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>714244</id>
      <url>http://www.bandsintown.com/venue/714244</url>
      <name>O2 Academy Birmingham</name>
      <city>Birmingham</city>
      <region>United Kingdom</region>
      <country>United Kingdom</country>
      <latitude>52.4737660</latitude>
      <longitude>-1.8995750</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-12T13:46:04</on_sale_datetime>
  </event>
  <event>
    <id>8739892</id>
    <url>http://www.bandsintown.com/event/8739892?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-29T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8739892/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>77003</id>
      <url>http://www.bandsintown.com/venue/77003</url>
      <name>O2 Academy Brixton</name>
      <city>London</city>
      <region>England</region>
      <country>United Kingdom</country>
      <latitude>51.4650440</latitude>
      <longitude>-0.1150130</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-12T13:46:21</on_sale_datetime>
  </event>
  <event>
    <id>8173820</id>
    <url>http://www.bandsintown.com/event/8173820?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-11-30T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173820/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>664758</id>
      <url>http://www.bandsintown.com/venue/664758</url>
      <name>The Garage</name>
      <city>Glasgow</city>
      <region></region>
      <country>United Kingdom</country>
      <latitude>55.8659000</latitude>
      <longitude>-4.2690000</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-03-10T15:29:02</on_sale_datetime>
  </event>
  <event>
    <id>8173827</id>
    <url>http://www.bandsintown.com/event/8173827?artist=Hollywood+Undead&amp;came_from=67</url>
    <datetime>2014-12-01T19:00:00</datetime>
    <ticket_url>http://www.bandsintown.com/event/8173827/buy_tickets</ticket_url>
    <artists>
      <artist>
        <name>Hollywood Undead</name>
        <url>http://www.bandsintown.com/HollywoodUndead</url>
        <mbid>321fdfbb-426b-43f7-8295-fa9aca6348d9</mbid>
      </artist>
    </artists>
    <venue>
      <id>686155</id>
      <url>http://www.bandsintown.com/venue/686155</url>
      <name>Manchester Academy 1</name>
      <city>Manchester</city>
      <region>England</region>
      <country>United Kingdom</country>
      <latitude>53.4639800</latitude>
      <longitude>-2.2307500</longitude>
    </venue>
    <ticket_status>available</ticket_status>
    <on_sale_datetime>2014-05-12T13:47:03</on_sale_datetime>
  </event>
</events>
